@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.file-upload {
  border: 2px dashed #000; /* Borde discontinuo negro */
  border-radius: 20px; /* Esquinas redondeadas */
  padding: 20px;
  text-align: center;
  display: inline-block;
  width: calc(100% - 40px); /* Ancho completo menos el padding */
  cursor: pointer;
  color: #000; /* Color del texto */
  background-color: #fff; /* Fondo blanco */
}
.file-upload:hover {
  background-color: #f0f0f0; /* Fondo gris claro al pasar el ratón */
}
.file-upload input[type="file"] {
  display: none; /* Ocultar el input real */
}